*{

}

nav li{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -250px;
}

.title-container {
    height: 40em;
}

.showfeats {
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    margin-top: -5em;
    background-color: rgba(0,0,0,0.8);
    padding: 5px;
    color: rgb(0, 255, 255);
    display: flex;
    font-size: 4em;
    text-shadow: -3px 3px 3px rgb(0, 0, 0),
                  3px 3px 0 rgb(0, 0, 0),
                  3px -3px 0 rgb(0, 0, 0),
                  -3px -3px 0 rgb(0, 0, 0);
}

.wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 60px;
}

.box {
    max-width: 300px;
    height: auto;
    background-color: rgba(0,0,0,0.8);
}

.grid-image {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.grid-text {
    text-align: center;
}

a {
    text-decoration: none;
    color:  rgb(0, 255, 255);
}

a:hover {
    color: white;
}

button:hover {
    color:white;
}

.grid-header {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: flex-end;
    text-shadow: 
    -2px 2px 2px rgb(0, 255, 255),
    2px 2px 0 rgb(0, 255, 255),
    2px -2px 0 rgb(0, 255, 255),
    -2px -2px 0 rgb(0, 255, 255);
    margin-bottom: -50px;
}

.main-grid {
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 20px;
}

.hours-grid {
    color: white;
}

.day {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    /* padding: 2%;
    padding-left: 100px; */
}

.map-image {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 3px;
    color:rgb(0, 255, 255) ;
}

.copywrite {
    background-color: black;
    color: white;
}

.login {
    /* background-color: white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -350px;
}

.login-container {
    background-color: rgba(0,0,0,0.7);
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 255, 255);
    /* padding-bottom: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
}

.login-container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.sign-in-button {
    background: black;
    color: rgb(0, 255, 255);
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}

.password {
    float: right;
    display: inline;
  }

  .password-line {
      height: 25px;
      margin-top: 5px;
      color: white;
  }

  .username-title {
      height: 25px;
      margin-top: -35px;
      color: white;
  }

  .sign-in-header {
      margin-top: 0px;
      justify-content: center;
      text-align: center;
      color: white;
  }

  .logout {
      color: rgb(0, 255, 255);
      background-color: rgba(0,0,0,0.7);
      width: 300px;
      height: 150px;
      font-size: 40px;
      border: 1px solid  rgb(0, 255, 255);
  }

  .logout-button {
      justify-content: center;
      text-align: center;
      margin-top: -350px;
      margin-bottom: 400px;
  }

  .goodbye {
      color: white;
      background-color: rgba(0,0,0,0.7);
      margin-top: 50px;
      height: 50px;
  }

  hr.solid {
    color: white;
    border-top: 3px solid white;
  }

  .about-box {
      background-color: rgba(0,0,0,0.7);
      text-align: center;
      padding: 30px;
      margin-top: -500px;
      margin-bottom: 75px;
  }

  .about-title {
      color: rgb(0, 255, 255);
  }

  .smaller-title {
      color: white;
      padding-bottom: 7px;
  }

  .body {
      color: white;
  }